---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {{ page.date | date: date_format }}
      </time>
      {%- if page.author -%}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span class="p-author h-card" itemprop="name">{{ page.author }}</span></span>
      {%- endif -%}
      <!-- <span id="busuanzi_container_page_pv">
        • 浏览数<span id="busuanzi_value_page_pv"></span>次
      </span> -->
    </p>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
  
  <p>
    Statement: 1. The copyrights of all original posts in this blog are reserved. 
    For reposting, you do not need to contact the author. 
    However, you need to indicate Siberian Tiger as the author and attach the links of the posts.
    2. All reposted posts are marked as "reprint" with authors indicated and links provided.
    Should there be copyright infringement, please contact the author as per the "About" page. 
    The author will delete the content as soon as possible.
  </p>
  <p>
    声明：1、本博客所有原创文章均保留版权。转载无须联系笔者，但须注明作者是西伯利亚虎，并包含博客原文链接。
    2、所有转载文章已标明转载，并注明作者，附原文链接。如有侵犯版权，请按About页面上联系方式联系笔者，笔者将在第一时间删除。
  </p>
  <p class="post-meta">
    Note: You need a Github account to post a comment; 
    Please register another Github account for anonymous comments.
  </p>
  <p class="post-meta">友情提示：评论系统需登录Github账号，如需匿名评论，请注册Github小号。</p>
  <script src="https://utteranc.es/client.js"
        repo="siberiantiger/siberiantiger.github.io"
        issue-term="pathname"
        theme="github-light"
        crossorigin="anonymous"
        async>
  </script>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
